/*** 'Prospective' Colour Scheme ***/

/**
* Colors
* Prospective Green: 	        #7cd919
* Current Blue: 		#00a8e1
* Staff Turquoise: 		#33cbcc
* Immanuel Blue:		#012778
* Text Grey:			#666
* Default Font:			Tahoma, Verdana, Helvetica, Arial, sans-serif
* Title Font:			Senuca Black
* Testimonial Font:		Senuca Regular
*/

div#footer div.footer-column ul {
        color:#00a8e1;
}
div#footer div.footer-column ul a {
        color:#00a8e1;
}

div#main div#content h1 {
        color:#00a8e1;
}

div#main div#content p#first-paragraph {
        color:#385694;
}

div#main div#content a {
        color:#00a8e1;
        font-weight:bold;
}

body div#main div#sidebar img#post-image {
        border:3px solid #00a8e1;
}
body div#main div#sidebar div#sidebar-links-title {
        background-color:#00a8e1;
}
body div#main div#sidebar ul#sidebar-links-list a {
        color:#00a8e1;
}
body div#main div#content h2 {
        color:#00a8e1;
}
