/*** CSS For Homepage Only***/
/**Homepage Specific Rules**/
body#homepage {
	
}
body#homepage ul#pcs-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
}

body#homepage ul#pcs-nav li.has-margin {
	padding-bottom:12px;
}

/*Main Content Layout CSS*/


body#homepage div#main div.column {
	width:222px; /*Should be 235 */
	/*border:1px solid #666;*/
	margin:0;
	padding:0;
}

body#homepage div#main div#col-123 {
	float:left;
	width:700px;
}

body#homepage div#main div#col-4 {
	float:right;
}

body#homepage div#main div#col-12 {
	float:left;
	width:462px;
}

body#homepage div#main div#col-3 {
	float:right;
}

body#homepage div#main div#col-1 {
	float:left;
}

body#homepage div#main div#col-2 {
	float:right;
}
/*End Main Content Layout*/

/*Showcase Box Layout*/
body#homepage div#showcase {
	text-align:center;
	background-color:#012778;
	padding-bottom:7px;
}

body#homepage div#showcase h4 {
	color:#00a8e1;
	margin:0;
	padding:10px 0;
	
}

body#homepage div#showcase img {
	margin:0;
	padding:0;
}

body#homepage div#showcase div#showcase-box h5 {
	color:white;
	font-size:1.3em;
	margin:0;
	padding:0;	
}

body#homepage div#showcase div#showcase-box {
	background-color:#00a8e1;
	width:210px;
	margin:7px auto 0 auto;
	padding-bottom:10px;
}

body#homepage div#showcase div#showcase-box p {
	margin:0;
	padding:0;
	color:#012778;
	font-weight:bold;
} 
/*End Showcase Box Layout*/



/*Download Prospectus Button*/
div#download-prospectus-button {
	background-color:#33cbcc;
	background-image:url(../img/buttons/prospectus.jpg);
	background-repeat:no-repeat;
	background-position:left;
	width:222px;
	height:89px;
	margin-top:10px;
}

div#download-prospectus-button a {
	color:white;
	width:110px;
	float:right;
	padding-top:17px;
	text-decoration:none;
	font-size:1.2em;
	font-weight:bold;
}

div#download-prospectus-button a:hover {
	text-decoration:underline;
}

/*End Download Prospectus Button*/
/*Column 2-4*/
body#homepage a h2 {
	color:#012778;
}

body#homepage .cufoned-headers {
	font-size:1.6em;
	text-decoration:none;
}

div#news-column h3, div#events-column h3 {
	background-color:#012778;
	padding:8px 10px 6px 35px;
	font-size:1.2em;
	margin:0;
	background-repeat:no-repeat;
	background-position:12px 9px;
	
}

div#news-column h3 {
	background-image:url(../img/icons/news-rss-icon.jpg);
	
}

div#events-column h3 {
	background-image:url(../img/icons/events-rss-icon.jpg);
}

div#news-column {
	color:#33cbcc;
}

div#news-column p, div#events-column p {
	padding:17px 12px 17px 12px;
	margin:0;
	font-weight:bold;
}

div#news-column p {
border-bottom:1px solid #b2e1f3;
}

div#events-column p {
border-bottom:1px solid #b0e1f2;
}

div#events-column {
	color:#00a8e1;
}

div.column div.rss-box {
	background-color:#d9f1fb;
	font-size:0.7em;
	color:#666;
	font-weight:lighter;
	font-family:Arial;
}

div.column div.rss-box a {
	color:#666;
}

div.column div.rss-box img {
	float:left;
	margin-top:7px;
	margin-left:8px;
	margin-right:10px;
}

div#events-column div.rss-box p, div#news-column div.rss-box p {
	border:0;
	line-height:1.6em;
	padding-top:11px;
	padding-bottom:11px;
}

a.morelink {
	color:#666;
	font-weight:normal;
}

/*End Column 2-4*/

/**End Homepage Specific Rules**/

/**Footer Colour Rules**/


div#footer div.footer-column ul {
        color:#009acb;
}
div#footer div.footer-column ul a {
        color:#009acb;
}

/** End Footer Color Rules **/
