/*CSS File For All Prospective, Current and Staff Pages*/

.testimonial-image {
        float:right;
}

body img#header-image {
        padding-bottom:100px;
}

/*NavBar CSS*/
div#top-nav * {
        margin:0;
        padding:0
}

div#top-nav {
        color:#00a8e1;
        margin:0;
        padding:0
}


div#top-nav ul {
        list-style-type:none;
        display:block;
        border-bottom:1px solid #80c2da;
        width:705px; 
        position:absolute;
        top:355px;
        left:0;
        background-image:url(../img/nav-line.gif);
        background-repeat:no-repeat;
        background-position:bottom right;
}

div#top-nav ul li {
        float:left;
        background-image:url(../img/nav-line.gif);
        background-repeat:no-repeat;
        background-position:bottom left;
}
        

div#top-nav ul li a {
        color:#00a8e1;
}

div#top-nav ul li.page-nav-link {
        font-size:18px;
        padding:10px 15px 11px 15px;
}
div#top-nav ul li.nav-link {
        text-transform:uppercase;
        font-size:10px;
        padding:15px 15px 16px 15px;
}
/*End NavBar CSS*/
