/***Immanuel College Front-End CSS File***/

/**
* Colors
* Prospective Green: 	        #7cd919
* Current Blue: 		#00a8e1
* Staff Turquoise: 		#33cbcc
* Immanuel Blue:		#012778
* Text Grey:			#666
* Default Font:			Tahoma, Verdana, Helvetica, Arial, sans-serif
* Title Font:			Senuca Black
* Testimonial Font:		Senuca Regular
*/

/**General Rules**/
div#wrapper {
	width:940px;
	margin:0 auto;
	font-family:Tahoma, Verdana, Helvetica, Arial, sans-serif;
	font-size:0.8em;
	color:#666;
	position:relative;
}

a img {
	text-decoration:none;
	border:0;
}

div.cleardiv {
	clear:both;
	margin:0;
	padding:0;
}

p#margin-spacer {
	color:white;
}

/**End General Rules**/


/**End Footer Rules**/

/**As Yet Uncategorized Rules**/
div#search-box {
	position:absolute;
	top:35px;
	right:240px;
	color:#00a8e1;
}

div#search-box input#search-key, div#quick-links select {
	color:#00a8e1;
	border:1px solid #00a8e1;
	padding:3px;
	font-size:0.9em;
}

div#search-box input#search-button {
	background-image:url(../img/buttons/search-bg.jpg);
	background-repeat:no-repeat;
	background-color:white;
	border:0;
	width:25px;
	height:22px;
}

div#quick-links select {
	width:222px;
	position:absolute;
	top:35px;
	left:718px; /*940-222 (wrapper width (940) minus the button images/quick link selector width(222))*/
	padding:2px;
}

div#footer {
	border-top:#7ec2d9 1px solid;
}
/**End As Yet Uncategorized Rules**/
