/***Common CSS For All Front-End Pages***/

/**
* Colors
* Prospective Green: 	        #7cd919
* Current Blue: 		#00a8e1
* Staff Turquoise: 		#33cbcc
* Immanuel Blue:		#012778
* Text Grey:			#666
* Default Font:			Tahoma, Verdana, Helvetica, Arial, sans-serif
* Title Font:			Senuca Black
* Testimonial Font:		Senuca Regular
*/

body {
        font-family:Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size:0.8em;
}

div#wrapper {
        width:860px;
        margin-right:auto;
        margin-left:auto;
        position:relative;

}

div#wrapper * {
        margin:0;
        padding:0;
        text-decoration:none;
}

a img {
	border:0;
	text-decoration:none;
	margin:0;
	padding:0;
}

img.plus-minus-icon {
	width:13px;
	height:13px;
}

/*Main Content CSS*/
div#main {
margin-top:70px;
}

div#main div#col-1 {
       float:left; 
       width:300px;
}
div#main div#col-2 {
       float:right; 
       width:530px;
}

div#main div#col-2 form {
}
div#main div#col-2 form input {
        margin-bottom:20px;
}

div#main div#col-2 form label, a#meta-toggle-button {
	font-weight:bold;
}

div#main #meta-toggle-button {
	display:block;
	margin-bottom:10px;
}

div#main div#col-2 form input.text-input {
        width:100%;
}

div#main input, div#main label {
        display:block;
}
div#main div#col-1 ul {
       list-style-type:none; 
       margin:0;
       padding:0;
       font-weight:bold;
       margin-bottom:30px;
}


div#main div#col-1 ul li a {
       color:#012778; 
       text-decoration:underline;
}
div#main div#col-1 ul li ul li a {
        color:#00a8e1;
       text-decoration:underline;
}
div#main div#col-1 ul li ul li {
       margin-left:10px;
       margin-top:10px;
}

/*End Main Content CSS*/

/*Header CSS*/

div#header {
        position:relative;
}

div#header-col-1 {
        width:705px;
}

div#header-col-2
{
}
div#home-show-links a
{
        display:block;
        padding:15px 11px;
        background-color:green;
        color:white;
        margin-bottom:10px;
        text-decoration:none;
        font-size:0.8em;
}

div#home-show-links a#edit-homepage-link {
        background-color:#7cd919;
}
div#home-show-links a#edit-showcase-link {
        background-color:#33cbcc;
}

div#home-show-links {
        position:absolute;
        top:67px;
        right:0;
}


/*End Header CSS*/


/*NavBar CSS*/

div#top-nav {
        margin:0;
        padding:0;
        z-index:1000;
}


div#top-nav ul#top-nav-list {
        list-style-type:none;
        display:block;
        border-bottom:1px solid #80c2da;
        width:705px; 
        position:absolute;
        left:0;
        background-image:url(../img/nav-line.gif);
        background-repeat:no-repeat;
        background-position:bottom right;
}

div#top-nav ul#top-nav-list li.page-nav-link, div#top-nav ul#top-nav-list li.nav-link {
        float:left;
        background-image:url(../img/nav-line.gif);
        background-repeat:no-repeat;
        background-position:bottom left;
        position:relative;
        
}
        

div#top-nav ul li a {
        color:#00a8e1;
        text-decoration:none;
}

div#top-nav ul li.page-nav-link {
        font-size:18px;
        padding:10px 15px 11px 15px;
}
div#top-nav ul li.nav-link {
        text-transform:uppercase;
        font-size:10px;
        padding:15px 15px 16px 15px;
}

div#top-nav li#the-school-link ul {
        width:126px;
}
div#top-nav li#joining-us-link ul {
        width:120px;
}
div#top-nav li#way-of-life-link ul {
        width:130px;
}
div#top-nav li#news-link ul {
        width:62px;
}
div#top-nav li#events-link ul {
        width:72px;
}
div#top-nav li#gallery-link ul {
        width:78px;
}
div#top-nav li#contact-us-link ul {
        width:119px;
}



div#top-nav ul li ul {
        display:none;
        position:absolute;
        list-style-type:none;
        background-color:white;
        text-transform:uppercase;
        text-align:center;
        width:100%;
        margin:0;
        padding:0;
        font-size:10px;
        top:37px;
        left:0;
        border-top:7px solid #002878;
        position:absolute;

}
div#top-nav ul li ul span {
}

div#top-nav ul li ul li {
        text-align:center;
        width:70%;
        margin:0 auto;
        padding:9px 5px 8px 5px;
        border-bottom:1px solid #80c2da;
}
div#top-nav ul li:hover {
        
}
div#top-nav ul li:hover ul,  
div#top-nav ul li:hover ul:hover { 
        
        display:block
}
/*Section Select (3 boxes) CSS*/
div#section-select * {
        margin:0;
        padding:0;
}
div#section-select {
        margin-top:7px;
        width:222px;
        position:absolute;
        right:-92px;
}

div#section-select ul {
        list-style-type:none;
}
div#section-select ul li{
        display:inline;
        margin-right:0px;
}
div#section-select ul li img{
        display:inline;
        margin:5px 0px 5px 0px;
        padding:4px 4px 4px 4px;
}
div#section-select ul li.selected img {
        border:2px solid #012778;
        margin:3px 2px 3px 0px;
}

div#section-select a {
        text-decoration:none;
}
/*End Section Select*/
