RewriteEngine On
RewriteRule ^\/?pages\/(.*)\/$ page.php?slug=$1
RewriteRule ^\/?(prospective|current|staff)\/$ pcs.php?code=$1
RewriteRule ^\/?(news|events|gallery)\/(archive|calendar)\/(.*)\/$ $1-archive.php?period=$3
RewriteRule ^\/?(news|events|gallery)\/$ $1-index.php
RewriteRule ^\/?(news|events|gallery)\/(.*)\/$ $1-single.php?slug=$2
